@font-face {
    src: url(/assets/aa1ee103968475b48934-3a4d9a8b6adf39716f28af71fc9b030a.woff) format("woff");
    font-family: NordeaSansSmall;
    font-weight: normal;
    font-display: swap
}

@font-face {
    src: url(/assets/b90f1e1b93f3b23dd79e-11eca7aa5a85ec0c6cc3deba794b264e.woff) format("woff");
    font-family: NordeaSansSmall;
    font-weight: bold;
    font-display: swap
}

@font-face {
    src: url(/assets/837ba80d0ba906e8c20d-4fa38d775a1f6b9179bc7c425ecaf7f4.woff) format("woff");
    font-family: text-security-disc
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

*:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

html,body {
    margin: 0;
    padding: 0
}

html {
    background-color: #f4f2f1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

body {
    font-family: NordeaSansSmall,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 320px;
    line-height: 1.45;
    font-size: 16px
}

.text-center {
    text-align: center
}

.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.inner-content {
    position: relative;
    min-height: 250px
}

main {
    display: block
}

main .content {
    background: #fff;
    padding: 14px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    max-width: 400px;
    min-width: 318px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 0 1px rgba(0,0,0,.15)
}

@media all and (min-width: 360px) {
    main {
        padding-left:14px;
        padding-right: 14px
    }

    main .content {
        border-radius: 8px
    }
}

@media all and (min-width: 376px) {
    main .content {
        padding:24px
    }
}

footer {
    color: #757575;
    text-align: center;
    padding: 14px;
    font-size: 13px
}

a,a[href^=tel] {
    color: #00005e
}

a {
    text-decoration: none
}

a:hover,a:focus {
    text-decoration: underline
}

ol {
    padding: 0 0 0 20px;
    text-align: left
}

ol li {
    margin-bottom: 4px
}

h2+ol {
    margin-top: 0
}

.left-flush-list {
    display: inline-block
}

[data-view-id] {
    text-align: center;
    display: none !important;
    padding-bottom: 58px
}

[data-view-id].current {
    display: block !important
}

[data-view-id].no-button-row {
    padding-bottom: 0
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

fieldset {
    margin: 0;
    padding: 0;
    border: none
}

fieldset legend {
    padding: 0;
    margin: 0 auto
}

.pre {
    white-space: pre
}

.hide-overflow {
    overflow: hidden
}

.hidden {
    display: none !important
}

.invisible {
    visibility: hidden
}

.text-left {
    text-align: left
}

.description {
    max-width: 292px;
    text-align: left;
    margin: 0 auto 14px auto
}

.sign-text {
    max-width: 292px;
    text-align: left;
    padding: 14px 18px;
    margin: 0 auto 14px auto;
    border: 1px solid #c9c7c7;
    background-color: #fbfbfb;
    border-radius: 2px;
    font-size: 15px;
    word-break: break-word
}

[data-whatintent=keyboard] .sign-text:focus {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes fade-in-bounce {
    0% {
        opacity: 0
    }

    15% {
        opacity: 1
    }

    20% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    40% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    85% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }

    86% {
        opacity: 0
    }
}

@keyframes fade-in-bounce {
    0% {
        opacity: 0
    }

    15% {
        opacity: 1
    }

    20% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    40% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    85% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }

    86% {
        opacity: 0
    }
}

@-webkit-keyframes hide {
    0% {
        visibility: hidden
    }

    50% {
        visibility: hidden
    }

    100% {
        visibility: visible
    }
}

@keyframes hide {
    0% {
        visibility: hidden
    }

    50% {
        visibility: hidden
    }

    100% {
        visibility: visible
    }
}

@-webkit-keyframes bounce {
    17.1428571429% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }

    25.7142857143% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    34.2857142857% {
        -webkit-transform: translateY(1.5px);
        transform: translateY(1.5px)
    }

    42.8571428571% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes bounce {
    17.1428571429% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px)
    }

    25.7142857143% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    34.2857142857% {
        -webkit-transform: translateY(1.5px);
        transform: translateY(1.5px)
    }

    42.8571428571% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes grow {
    15.3846153846% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        opacity: 0.75
    }

    23.0769230769% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    30.7692307692% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        opacity: 0.55
    }

    38.4615384615% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes grow {
    15.3846153846% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        opacity: 0.75
    }

    23.0769230769% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    30.7692307692% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        opacity: 0.55
    }

    38.4615384615% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0.4);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0.4)
    }

    26.25% {
        -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 7px rgba(0, 0, 94, 0)
    }

    37.5% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0)
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0.4);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0.4)
    }

    26.25% {
        -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 7px rgba(0, 0, 94, 0)
    }

    37.5% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 94, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 94, 0)
    }
}

h1 {
    font-size: 23px;
    line-height: 1.4
}

h2 {
    margin: 0;
    padding: 4px 0;
    font-size: 18px
}

h3 {
    font-size: 18px;
    margin: 0
}

h4 {
    font-size: 16px;
    margin: 0
}

p {
    font-size: 16px
}

.page-title {
    font-size: 20px;
    white-space: pre-line;
    margin: -2px 0 14px 0;
    line-height: 1.3
}

.sub-title {
    font-size: 17px
}

button {
    cursor: pointer;
    display: inline-block;
    min-width: 180px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #00005e;
    color: #fff;
    border-radius: 50px;
    border: 2px solid transparent;
    margin: 14px 0 0 0;
    -webkit-transition: background 125ms,color 125ms,-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background 125ms,color 125ms,-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background 125ms,color 125ms,box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background 125ms,color 125ms,box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1),-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    -webkit-box-shadow: 0 0 0 4px transparent;
    box-shadow: 0 0 0 4px transparent;
    line-height: 1
}

button:focus {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

button::-moz-focus-inner {
    border: none
}

button[aria-disabled=true] {
    color: #e8e8f0;
    background-color: #b2b2ce;
    cursor: default
}

button.inverted-button {
    background-color: transparent;
    border: 2px solid #fff
}

button.button-tertiary {
    color: #00005e;
    background-color: transparent;
    border-color: transparent
}

.icon-button {
    width: auto;
    min-width: 0;
    background-color: transparent;
    margin: 0;
    padding: 0
}

button.link {
    background: none;
    color: #00005e;
    padding: 0;
    min-width: auto;
    margin: 0;
    border-radius: 0
}

button.secondary-button {
    background-color: transparent;
    border: 2px solid #00005e;
    color: #00005e
}

.desktop button:hover:not([aria-disabled=true]) {
    background-color: #0000a0
}

.desktop button.link:hover {
    text-decoration: underline;
    background: none
}

.desktop button.secondary-button:hover {
    background-color: #dcedff
}

.desktop button.inverted-button:hover {
    background-color: #fff;
    color: #00005e
}

.desktop button.icon-button:hover {
    background: transparent
}

.desktop button.button-tertiary:hover {
    color: #0000a0;
    background-color: transparent;
    border-color: transparent
}

.button-group {
    height: 50px;
    border-top: 1px solid #e8e8e8;
    padding: 0 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: -14px;
    left: -14px;
    right: -14px
}

.button-group>*:nth-child(2) {
    margin-left: auto
}

.button-group .link {
    position: relative
}

.button-group .link:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.button-group .link:focus::after {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

.button-group .link::after {
    -webkit-transition: -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    content: "";
    -webkit-box-shadow: 0 0 0 4px transparent;
    box-shadow: 0 0 0 4px transparent;
    width: 100%;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 50px;
    height: 100%;
    padding: 7px 10px
}

@media all and (-ms-high-contrast: none) {
    .button-group {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.button-group-vertical {
    display: table;
    margin: 0 auto
}

.button-group-vertical button {
    width: 100%
}

.button-group-vertical .button-separator {
    margin-top: 10px;
    margin-bottom: -5px
}

.button-group-vertical div:first-child .button-separator {
    margin-top: 0
}

.button-group-vertical:empty {
    display: none
}

.button-group-vertical div:not(:first-child) {
    margin-top: 8px
}

@media all and (min-width: 376px) {
    .button-group {
        padding:0 24px;
        bottom: -24px;
        left: -24px;
        right: -24px
    }
}

.icon {
    width: 32px;
    height: 32px;
    color: #c9c7c7;
    fill: none;
    stroke: currentColor;
    pointer-events: none;
    stroke-width: .8;
    vertical-align: middle
}

.icon * {
    stroke: currentColor
}

.small-icon {
    height: 24px;
    width: 24px
}

.large-icon {
    height: 60px;
    width: 60px
}

.input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 292px;
    margin: 0 auto 8px auto;
    text-align: left;
    position: relative
}

.input-wrapper label {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.input-wrapper input {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.input-wrapper .input-error {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}

.input-wrapper.no-errors {
    margin-bottom: 24px
}

input:-webkit-autofill+label {
    color: #0000a0
}

.input-error {
    font-size: 13px;
    padding: 4px 0;
    color: #b00000;
    text-align: left
}

.input-error span {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: opacity,visibility,-webkit-transform;
    transition-property: opacity,visibility,-webkit-transform;
    transition-property: transform,opacity,visibility;
    transition-property: transform,opacity,visibility,-webkit-transform;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%)
}

.input {
    display: block;
    width: 100%;
    border: 1px solid #c9c7c7;
    -webkit-transition: border-color 250ms;
    transition: border-color 250ms;
    padding: 0 12px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    letter-spacing: .5px
}

.input+label {
    -webkit-transition: color 250ms;
    transition: color 250ms
}

.input:focus+label {
    color: #0000a0
}

.input:focus,.input.valid {
    border-color: #0000a0
}

.input:disabled {
    color: #292929;
    opacity: 1;
    -webkit-text-fill-color: #292929
}

.input:disabled+label {
    color: #292929;
    cursor: default
}

.input[data-show-hint] {
    padding-right: 40px
}

input:invalid {
    -webkit-box-shadow: none;
    box-shadow: none
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset !important;
    box-shadow: 0 0 0 100px #fff inset !important
}

input::-webkit-credentials-auto-fill-button,input::-webkit-contacts-auto-fill-button {
    visibility: hidden
}

input::-ms-reveal,input::-ms-clear {
    display: none;
    width: 0;
    height: 0
}

.has-error input {
    border-color: #b00000
}

.has-error .input-error span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.password {
    font-family: text-security-disc;
    letter-spacing: 1.5px;
    font-size: 18px
}

@supports(-webkit-text-security: disc) {
    .desktop .password {
        -webkit-text-security: disc;
        font-size: 16px;
        letter-spacing: .5px;
        font-family: Verdana,sans-serif
    }
}

label,.label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 3px
}

.radio-button {
    position: relative;
    margin-bottom: 18px
}

.radio-button label {
    padding-left: 32px
}

.radio-button svg,.radio-button label::after {
    position: absolute;
    left: 0;
    top: 0
}

.radio-button label::after {
    content: "";
    background-color: #fff;
    border: 2px solid #0000a0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    z-index: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition-property: background-color,border-color,-webkit-transform;
    transition-property: background-color,border-color,-webkit-transform;
    transition-property: background-color,border-color,transform;
    transition-property: background-color,border-color,transform,-webkit-transform;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms
}

.radio-button svg {
    z-index: 2;
    height: 24px;
    width: 24px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms
}

.radio-button svg path {
    stroke: #fff;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round
}

.radio-button input:disabled+label {
    color: #c9c7c7;
    cursor: default
}

.radio-button input:disabled+label::after {
    border-color: #c9c7c7
}

.radio-button input:checked+label svg {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.radio-button input:checked+label::after {
    background-color: #45a60e;
    border-color: #45a60e;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 4px transparent;
    box-shadow: 0 0 0 4px transparent
}

[data-whatintent=keyboard] .radio-button input:focus+label::after {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

.checkmark path {
    stroke: #fff;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round
}

.response-error-container {
    font-size: 15px;
    opacity: 0;
    color: #b00000;
    max-width: 292px;
    margin: 0 auto 14px auto;
    text-align: left;
    -webkit-animation: fade-in 1s;
    animation: fade-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.desktop button.input-hint,button.input-hint {
    visibility: hidden;
    position: absolute;
    top: 24px;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    border: none;
    border-radius: 0 2px 2px 0;
    -webkit-transition: visibility 250ms,opacity 250ms;
    transition: visibility 250ms,opacity 250ms
}

.desktop button.input-hint,.desktop button.input-hint:hover,button.input-hint,button.input-hint:hover {
    background: url(/assets/3defb92f3d1f7309bb86-28abb007069a4e48b1a0830fb5d4a822.svg) center no-repeat,url(/assets/aa78d594083d0ccfefcf-d2c5355e1fcc507cd7b7389e87e6c9de.svg) 42px no-repeat
}

.desktop button.input-hint.visible,button.input-hint.visible {
    background: url(/assets/aa78d594083d0ccfefcf-d2c5355e1fcc507cd7b7389e87e6c9de.svg) center no-repeat
}

.has-value .desktop button.input-hint,.has-value button.input-hint {
    opacity: 1;
    visibility: visible
}

.challenge-code {
    margin-bottom: 18px
}

.challenge-val {
    border-radius: 2px;
    padding: 0 12px;
    border: 1px solid #c9c7c7;
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

[data-whatintent=keyboard] .challenge-val:focus {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

.main-loader {
    z-index: 104;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 250ms,visibility 250ms;
    transition: opacity 250ms,visibility 250ms;
    background-color: #f4f2f1
}

.content-loader {
    background-color: #fff;
    position: absolute;
    left: -24px;
    top: 0;
    right: -24px;
    bottom: -24px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 250ms,visibility 250ms;
    transition: opacity 250ms,visibility 250ms
}

.loading.page-ready .content-loader,.loading .main-loader {
    visibility: visible;
    opacity: 1
}

.loading.page-ready .main-loader {
    display: none
}

.loader {
    width: 48px;
    height: 48px
}

.loader svg {
    -webkit-animation: spinner 2.5s linear infinite;
    animation: spinner 2.5s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.loader path {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    stroke: #00005e;
    stroke-dasharray: 283;
    -webkit-animation: dash 2s linear infinite;
    animation: dash 2s linear infinite
}

.loader-text {
    font-family: "Arial",sans-serif;
    letter-spacing: .5px
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 283
    }

    50% {
        stroke-dashoffset: 150;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    100% {
        stroke-dashoffset: 280;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 283
    }

    50% {
        stroke-dashoffset: 150;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    100% {
        stroke-dashoffset: 280;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #fff;
    position: relative
}

header::after {
    height: 150px;
    content: "";
    position: absolute;
    background-color: #00005e;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.has-nologo header {
    height: 0;
    padding: 0
}

.logo {
    width: 95px;
    height: 20px
}

.page-context {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase
}

@media all and (min-width: 360px) {
    .has-nologo header {
        padding:0;
        height: 14px
    }
}

@media all and (min-width: 428px) {
    .has-nologo header {
        height:24px
    }
}

@media all and (min-width: 480px) {
    .has-nologo header {
        height:48px
    }
}

@media all and (min-width: 376px) {
    header {
        padding-top:35px;
        padding-bottom: 30px
    }

    header::after {
        height: 190px
    }

    .logo {
        width: 120px;
        height: 23px
    }
}

@media(max-width: 767px) {
    header::after {
        background-image:url(./5e73b3c67b0510c4c5cf-6629cb5350d6f3276b2dccc43bd3f397.png)
    }
}

@media(max-width: 1440px)and (min-width: 768px) {
    header::after {
        background-image:url(./5e73b3c67b0510c4c5cf-6629cb5350d6f3276b2dccc43bd3f397.png)
    }
}

@media(max-width: 1920px)and (min-width: 1440px) {
    header::after {
        background-image:url(./5e73b3c67b0510c4c5cf-6629cb5350d6f3276b2dccc43bd3f397.png)
    }
}

@media(min-width: 1920px) {
    header::after {
        background-image:url(./5e73b3c67b0510c4c5cf-6629cb5350d6f3276b2dccc43bd3f397.png);
        background-size: cover
    }
}

.method-groups {
    margin: 3px -14px 0 -14px
}

@media all and (min-width: 376px) {
    .method-groups {
        margin-left:-24px;
        margin-right: -24px
    }
}

.auth-method-selection {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 8px;
    max-width: 318px
}

.auth-method {
    width: 90px;
    position: relative;
    text-align: center;
    margin: 0 8px 8px
}

.auth-method .auth-method-text,.auth-method label {
    display: block
}

.auth-method label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: center
}

.auth-method .auth-method-text {
    padding: 8px 0 4px 0;
    font-size: 13px;
    white-space: pre-line
}

.auth-method svg,.auth-method label::after {
    height: 24px;
    width: 24px;
    opacity: 0;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 1;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.auth-method label::after {
    content: "";
    background-color: #45a60e;
    border-radius: 50%
}

.auth-method input:checked+label::after,.auth-method input:checked+label svg {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.auth-method input:checked+label .auth-method-img-wrapper {
    border-color: #c9c7c7;
    background-color: #fff
}

.auth-method input:checked+label .auth-method-text {
    font-weight: bolder
}

.auth-method svg {
    z-index: 2
}

.auth-method input:focus+label .auth-method-img-wrapper {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

.desktop .auth-method:hover .auth-method-img-wrapper {
    border-color: #dcdcdc;
    background-color: #fff
}

.desktop .auth-method:hover input:checked+label .auth-method-img-wrapper {
    border-color: #c9c7c7
}

.auth-method-img-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: background-color 250ms,border-color 150ms,-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 250ms,border-color 150ms,-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 250ms,border-color 150ms,box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 250ms,border-color 150ms,box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1),-webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
    height: 66px;
    width: 66px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 0 4px transparent;
    box-shadow: 0 0 0 4px transparent
}

.auth-method-img-wrapper img {
    pointer-events: none;
    width: 100%;
    height: 66px
}

.inputs-wrapper:not(.current) {
    display: none
}

.system-messages-top-bar {
    height: 56px;
    position: relative;
    z-index: 100;
    background: #ffe183;
    display: none;
    padding: 0 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -56px;
    -webkit-transition: margin-top 500ms;
    transition: margin-top 500ms
}

.system-messages-top-bar * {
    color: #000 !important
}

.system-messages-top-bar .system-messages-top-bar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.has-messages .system-messages-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.has-messages .page-ready .system-messages-top-bar {
    margin-top: 0
}

.system-messages-top-bar .system-messages-top-bar-heading {
    font-weight: bold
}

.system-messages-top-bar .system-messages-top-bar-button-wrapper {
    margin-left: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.system-messages-top-bar .system-messages-top-bar-button-wrapper .link {
    position: relative
}

.system-messages-top-bar .system-messages-top-bar-button-wrapper .link:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.system-messages-top-bar .system-messages-top-bar-button-wrapper .link:focus::after {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

.system-messages-top-bar .system-messages-top-bar-button-wrapper .link::after {
    -webkit-transition: -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    content: "";
    -webkit-box-shadow: 0 0 0 4px transparent;
    box-shadow: 0 0 0 4px transparent;
    width: 100%;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 50px;
    height: 100%;
    padding: 7px 10px
}

.system-messages-top-bar-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 14px;
    cursor: pointer
}

.desktop .system-messages-top-bar-title:hover {
    text-decoration: underline
}

.system-messages-top-bar-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 8px
}

.system-messages-top-bar-icon .icon {
    stroke-width: 1.2
}

.system-messages-top-bar-button-text {
    display: none
}

@media(min-width: 420px) {
    .system-messages-top-bar-button-text {
        display:inline
    }

    .system-messages-top-bar-button-text+svg {
        display: none
    }
}

@media all and (min-width: 376px) {
    .system-messages-top-bar {
        padding:0 18px
    }
}

.notification {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 166.6666666667ms,visibility 166.6666666667ms;
    transition: opacity 166.6666666667ms,visibility 166.6666666667ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 100%;
    z-index: 101;
    padding: 14px
}

.notification.visible {
    visibility: visible;
    opacity: 1
}

.notification-container {
    width: 100%;
    max-height: 100%;
    overflow-y: auto
}

.notification-content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 166.6666666667ms;
    transition: -webkit-transform 166.6666666667ms;
    transition: transform 166.6666666667ms;
    transition: transform 166.6666666667ms, -webkit-transform 166.6666666667ms;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    max-width: 450px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    z-index: 103;
    padding: 18px 14px 24px 14px;
    margin: 0 auto
}

.notification-content h1 {
    margin: 0;
    padding: 14px 0;
    color: #00005e
}

.notification-content p {
    white-space: pre-line;
    margin-top: 0;
    text-align: left
}

.notification-content a {
    color: #0000a0;
    font-weight: bold;
    text-decoration: underline;
    padding: 3px 0;
    display: inline-block
}

.visible .notification-content {
    -webkit-transform: scale(1);
    transform: scale(1)
}

@media all and (min-width: 376px) {
    .notification-content {
        padding:18px 24px 24px
    }
}

.notification-backdrop {
    background: rgba(20,20,36,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 102
}

[data-notification-content] {
    display: none
}

[data-notification-content].visible {
    display: block
}

aside {
    word-wrap: break-word;
    visibility: hidden;
    color: #fff;
    background-color: #00005e;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 340px;
    min-width: 302px;
    -webkit-transition-property: visibility,-webkit-transform;
    transition-property: visibility,-webkit-transform;
    transition-property: transform,visibility;
    transition-property: transform,visibility,-webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.19, 0.55, 0.57, 1);
    transition-timing-function: cubic-bezier(0.19, 0.55, 0.57, 1);
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

[data-whatintent=keyboard] aside:focus {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

aside .icon-button {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px
}

.sidebar-open aside {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.sidebar-open aside .sidebar-inner-wrapper {
    opacity: 1
}

aside p {
    margin: 0 0 15px 0
}

aside a,aside a[href^=tel] {
    color: #aed5ff
}

aside h1.title {
    margin: 0;
    font-size: 20px;
    padding: 0 56px 4px 0
}

aside h2.title {
    font-size: 20px
}

aside h2:not(.title) {
    padding-bottom: 0
}

aside.on-flow-info .sidebar-main-info {
    display: none
}

aside img {
    margin-top: 8px;
    max-width: 100%;
    border-radius: 8px
}

aside button {
    margin-top: 8px
}

aside .method-wrapper:not(.current) {
    display: none
}

aside .method-wrapper,aside [data-flow-info] {
    -webkit-animation: fade-in 250ms;
    animation: fade-in 250ms
}

.system-messages-top-bar,header,main,footer {
    -webkit-transition-property: margin-right;
    transition-property: margin-right;
    -webkit-transition-timing-function: cubic-bezier(0.19, 0.55, 0.57, 1);
    transition-timing-function: cubic-bezier(0.19, 0.55, 0.57, 1);
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.system-messages-top-bar {
    -webkit-transition-property: margin-top,-webkit-transform;
    transition-property: margin-top,-webkit-transform;
    transition-property: margin-top,transform;
    transition-property: margin-top,transform,-webkit-transform
}

.newline {
    white-space: pre-wrap
}

.sidebar-content-wrapper {
    padding: 24px
}

.sidebar-inner-wrapper {
    margin: 0 auto;
    max-width: 292px;
    opacity: 0;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms
}

@media(max-width: 686px) {
    header,main,footer {
        -webkit-transition-property:-webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform
    }

    aside {
        width: 100%;
        z-index: 3
    }

    .sidebar-open body {
        overflow: hidden
    }

    .sidebar-open .system-messages-top-bar,.sidebar-open header,.sidebar-open main,.sidebar-open footer {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    .sidebar-animated header,.sidebar-animated main,.sidebar-animated footer {
        visibility: hidden
    }
}

@media(min-width: 686px) {
    .sidebar-open header,.sidebar-open main,.sidebar-open footer {
        margin-right:340px
    }

    .sidebar-open.has-messages .system-messages-top-bar {
        margin-top: -56px
    }
}

@media(min-width: 1440px) {
    aside {
        width:22%
    }

    .sidebar-open header,.sidebar-open main,.sidebar-open footer {
        margin-right: 22%
    }
}

.agreements-title {
    padding-bottom: 4px
}

.agreements {
    padding-bottom: 20px;
    padding-top: 8px;
    display: inline-block
}

.agreements label,.agreements label span {
    display: block
}

.agreements label {
    cursor: pointer;
    padding-top: 2px;
    font-size: 16px
}

.agreements label span {
    margin-top: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    white-space: nowrap
}

.agreements label:hover {
    color: #00005e
}

.agreements-blocked-info {
    margin-top: -20px;
    margin-bottom: 20px
}

.agreements-submit-btn {
    margin-top: 0
}

.collision-content {
    -webkit-animation: fade-in 250ms forwards;
    animation: fade-in 250ms forwards;
    padding-top: 14px
}

.error-content {
    -webkit-animation: fade-in 250ms forwards;
    animation: fade-in 250ms forwards
}

.errors {
    padding-top: 14px
}

.error-message {
    line-height: 1.6;
    white-space: pre-line
}

.ex {
    color: #000;
    display: none;
    margin: 14px -14px;
    padding: 14px;
    background: #fdd;
    border: 1px solid #ffd1d2;
    text-align: left
}

.ex.info {
    background-color: #ffe183;
    border-color: #ffdc73
}

.ex span {
    font-size: 13px;
    display: block;
    margin-bottom: 8px;
    font-weight: bolder
}

.ex code {
    white-space: pre-wrap;
    display: block;
    word-break: break-word
}

.cv-error .ex {
    display: block
}

@media(min-width: 360px) {
    .ex {
        border-radius:8px;
        margin: 14px auto
    }
}

.external-content {
    margin-left: -14px;
    margin-bottom: -14px;
    width: 100vw;
    height: 460px
}

.no-title .external-content {
    margin-top: -14px
}

.external-content iframe {
    background-color: #fff;
    width: 100%;
    height: 460px;
    border: none
}

@media(min-width: 348px) {
    .external-content {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0
    }

    .no-title .external-content {
        margin-top: 0
    }
}

.otp-qr-code-form {
    margin-top: 14px
}

.otp-qr-code-canvas.qr-code-canvas {
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4
}

.qr-code-form .canvas-wrapper {
    margin-bottom: 14px
}

.status-texts {
    position: relative;
    height: 90px;
    width: 200%;
    left: -50%
}

.desktop .status-container-bankidse .status-texts {
    height: 80px
}

.status-container-bankidse .status-texts {
    height: 40px
}

.status-text {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    opacity: 0;
    visibility: hidden;
    white-space: pre-line;
    font-size: 15px
}

@media all and (min-width: 376px) {
    .status-text {
        font-size:16px
    }
}

.recovery .status-text {
    -webkit-transition: none !important;
    transition: none !important
}

[data-status=assignment_pending] .status-text-ap,[data-status=assignment_pending] .status-text-webview-ap {
    opacity: 1;
    visibility: visible
}

[data-status=confirmation_pending] .button-group-vertical,[data-status=authenticated] .button-group-vertical,[data-status=completed] .button-group-vertical {
    display: none
}

[data-status=confirmation_pending] .status-text-ap,[data-status=confirmation_pending] .status-text-webview-ap,[data-status=authenticated] .status-text-cp,[data-status=completed] .status-text-cp {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition: opacity 500ms,visibility 500ms,-webkit-transform 1.5s;
    transition: opacity 500ms,visibility 500ms,-webkit-transform 1.5s;
    transition: opacity 500ms,transform 1.5s,visibility 500ms;
    transition: opacity 500ms,transform 1.5s,visibility 500ms,-webkit-transform 1.5s;
    opacity: 0;
    visibility: hidden
}

[data-status=confirmation_pending] .status-text-cp,[data-status=authenticated] .status-text-ok,[data-status=completed] .status-text-ok {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity 500ms,visibility 500ms,-webkit-transform 500ms;
    transition: opacity 500ms,visibility 500ms,-webkit-transform 500ms;
    transition: opacity 500ms,transform 500ms,visibility 500ms;
    transition: opacity 500ms,transform 500ms,visibility 500ms,-webkit-transform 500ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms
}

.status-text-ok {
    -webkit-transform: translateX(30%);
    transform: translateX(30%)
}

.status-text-cp {
    -webkit-transform: translateX(20%);
    transform: translateX(20%)
}

.status-images {
    width: 230px;
    height: 189px;
    margin: 3px auto 0 auto;
    position: relative
}

.status-images div {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%
}

[data-status=completed] .status-img-p,[data-status=authenticated] .status-img-p {
    -webkit-animation: fade-out 500ms forwards;
    animation: fade-out 500ms forwards
}

[data-status=completed] .status-img-ok,[data-status=authenticated] .status-img-ok {
    display: block;
    -webkit-animation: fade-in 500ms forwards;
    animation: fade-in 500ms forwards
}

.status-img-ok {
    display: none
}

.pending-other .pending-img-mobile {
    display: block !important
}

.pending-other .pending-img-desktop {
    display: none
}

.pending-img-desktop {
    -webkit-transition: margin-top 500ms 500ms;
    transition: margin-top 500ms 500ms
}

[data-status=confirmation_pending] .pending-img-desktop {
    margin-top: -24px
}

.status-pending-step {
    opacity: 0;
    -webkit-animation: fade-in-bounce 6s infinite;
    animation: fade-in-bounce 6s infinite
}

.status-pending-step-1 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.status-pending-step-2 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.status-pending-step-3 {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

.status-pending-step-4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.status-pending-device {
    -webkit-animation: bounce 7s .25s infinite;
    animation: bounce 7s .25s infinite
}

.status-pending-device-shadow {
    -webkit-animation: grow 7s .25s infinite;
    animation: grow 7s .25s infinite;
    -webkit-transform-origin: center;
    transform-origin: center
}

.transaction-correlation-id-container {
    margin: 14px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #00005e;
    padding: 4px 0;
    border-radius: 6px
}

.transaction-correlation-id-container .transaction-correlation-id-key {
    padding: 0 8px 0 8px
}

.transaction-correlation-id-container .transaction-correlation-id-key img {
    display: block
}

.transaction-correlation-id-container .transaction-correlation-id strong {
    min-width: 65px;
    text-align: left;
    padding: 0 8px 0 8px
}

[data-whatintent=keyboard] .transaction-correlation-id-container:focus {
    -webkit-box-shadow: 0 0 0 4px #aed5ff;
    box-shadow: 0 0 0 4px #aed5ff
}

[data-view-id=codesapp] .transaction-correlation-id-container {
    margin: 0 0 14px
}

.switch-animation-container {
    height: 180px;
    width: 180px;
    position: relative;
    display: inline-block
}

.switch-animation-container>div {
    position: absolute
}

.switch-animation-first {
    display: block
}

.switch-animation-second {
    display: block;
    -webkit-animation: hide 500ms infinite;
    animation: hide 500ms infinite
}

.qr-code-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%
}

.canvas-wrapper {
    margin: 14px auto 0 auto;
    height: 180px;
    width: 180px;
    position: relative
}

.qr-code-canvas {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,94,.4);
    box-shadow: 0 0 0 0 rgba(0,0,94,.4);
    -webkit-animation: pulse 4.8s 100ms infinite;
    animation: pulse 4.8s 100ms infinite
}

.success-content {
    margin-top: 30px;
    -webkit-animation: fade-in 250ms forwards;
    animation: fade-in 250ms forwards
}

.mitid-content {
    margin: 0 -14px -14px;
    height: 588px;
    padding: 0 8px
}

.mitid-content iframe {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none
}

@media all and (min-width: 376px) {
    .mitid-content {
        margin:0 -24px -24px
    }
}

@media all and (min-width: 448px) {
    .mitid-content {
        padding:0
    }

    .no-title .mitid-content {
        margin-top: -14px
    }
}

.mitid-migration-dialog {
    max-width: 550px
}

.mitid-migration-dialog img {
    margin-top: 14px
}

.mitid-migration-dialog h1 {
    font-size: 23px
}

.mitid-migration-dialog .days-left {
    padding: 20px 0 8px
}

.mitid-migration-dialog h2 {
    font-size: 18px;
    text-align: left
}

.mitid-migration-dialog ol {
    padding: 14px 0;
    margin: 0 0 0 20px;
    counter-reset: item;
    list-style-type: none
}

.mitid-migration-dialog ol li {
    position: relative;
    margin-bottom: 4px;
    text-align: left
}

.mitid-migration-dialog ol li::before {
    content: counter(item) ") ";
    counter-increment: item;
    font-weight: bold;
    position: absolute;
    left: -20px
}

.mitid-migration-dialog p {
    white-space: normal
}

.mitid-migration-dialog .session-expired {
    background: #fdd;
    border: 1px solid #ffd1d2;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    text-align: center !important
}
